<div class="donate">
    <div class="donate-text">
        <p> <b>Modus Vivendi Oradea</b> este o organizație non-profit și depinde de tine. Contribuie la cauza noastră redirecționând 3.5% din impozitul tău pe venit către noi! Descarcă acum Formularul 230 și sprijină activitățile noastre fără niciun cost suplimentar pentru tine.</p>
    </div>
    <div class="donate-button">
        <a class="donatebtn" href="{{ url_for('static', filename='pdfs/Form_230_2023_EMINESCIANA.pdf') }}" target="_blank">Descarcă Formularul 230</a>
    </div> 
    <!-- <a href="{{ url_for('static', filename='pdfs/Form_230_2023_EMINESCIANA.pdf') }}" class="btn-download"  target="_blank">Descarcă Formularul 230</a> -->

</div>