<aside id="widget_contact-text-motto" class="widget widget_text">
    <div class="textwidget">
        <div class="flex-container">
            <img alt="footerlogo" src="{{ url_for('static', filename='images/MVO_Logo.png') }}" style="height: 75px;">
            <p class="text-next-to-image">Praf de stele peste robotii nostri. <br> <br>Modus Vivendi reprezinta spiritul creativ al unor tineri oradeni.</p>
        </div>
    </div>
</aside>
<aside id="widget_contact-data" class="widget widget_contact">
    <ul class="widget_contact_wrapper">
        <!-- <li><i class="fas fa-phone icon-spacing"></i>   (+01) 123 456 7890</li> -->
        <li><i class="fas fa-envelope-open icon-spacing"></i><a href="mailto:echipa@modusvivendioradea.com" target="_blank">echipa@modusvivendioradea.com</a></li>
        <li class="contact-info-item">
            <i class="fas fa-map-marker icon-spacing" style="transform: translateY(6px)"></i>
            <div class="contact-info-text">Strada Episcop Roman Ciorogariu<br/>Nr. 18, Oradea, 410017, Romania</div>
        </li>
    </ul>
</aside>