<div class="site-info">
    <div class="site-info-overlay">
        <div class="center">
            <div class="site-info-inner">
                <div class="row">
                    <div class="col-12 col-sm-6 mv-footer-text-left">
                        Copyright © 2018-2024 Modus Vivendi. All rights reserved.						
                    </div>
                    <div class="col-12 col-sm-6 mv-footer-text-right">
                        <ul id="menu-footer-menu" class="footer-nav-menu">
                            <li id="menu-item-3780" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3780">
                                <a href="{{ url_for('about') }}">About Us</a>
                            </li>
                            <!-- <li id="menu-item-3781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3781">
                                <a href="#">Services</a>
                            </li> -->
                            <li id="menu-item-3782" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3782">
                                <a href="{{ url_for('privacy') }}">Privacy</a>
                            </li>
                            <li id="menu-item-3781" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3781">
                                <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>