<div class="tm-footer-second-row container">
    <div class="row row-cols-4">
        <!-- Placeholder for Widget 1 -->
        <div class="widget-area col-12 col-sm-12 col-md-3 col-lg-3">
            {% include 'footer_row_first_widget_1.html' %}
        </div>
        <!-- Placeholder for Widget 2 -->
        <div class="col-12 col-md-3">
            
        </div>
        <!-- Placeholder for Widget 3 -->
        <div class="col-12 col-md-3">
            
        </div>
        <!-- Placeholder for Widget 4 -->
        <div class="widget-area col-12 col-sm-12 col-md-3 col-lg-3">
            {% include 'footer_row_first_widget_4.html' %}
        </div>
    </div>
</div>
