<!-- .widget-area -->
<aside id="text-6" class="widget widget_text">
    <h3 class="widget-title">Follow With Us</h3>
    <div class="textwidget">
        <p>
            Contact us via social networks<br/>
        </p>
        <div class="thememount-social-links-wrapper">
            <ul class="social-icons">
                <li class="twitter">
                    <a target="_blank" href="#" class="hint--bottom" data-hint="Twitter" rel="noopener">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </li>
                <li class="youtube">
                    <a target="_blank" href="https://www.youtube.com/@ro061modusvivendi5" class="hint--bottom" data-hint="YouTube" rel="noopener">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                </li>
                <li class="facebook">
                    <a target="_blank" href="https://www.facebook.com/RO061-Modus-Vivendi-297190080685870" class="hint--bottom" data-hint="Facebook" rel="noopener">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                </li>
                <li class="linkedin">
                    <a target="_blank" href="https://www.linkedin.com/company/modus-vivendi-oradea/" class="hint--bottom" data-hint="LinkedIn" rel="noopener">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li class="instagram">
                    <a target="_blank" href="https://www.instagram.com/modusvivendioradea/" class="hint--bottom" data-hint="LinkedIn" rel="noopener">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
		<p class="social-description">
      		Urmărește-ne pentru ultimele noutăți din lumea roboticii și STEM education!
    	</p>
    </div>
</aside>