<!-- .widget-area -->
<aside id="nav_menu-14" class="widget widget_nav_menu">
    <h3 class="widget-title">Special Services</h3>
    <div class="menu-footer-services-container">
        <ul id="menu-footer-services" class="menu">
            <li id="menu-item-3771" class="menu-item menu-item-type-taxonomy menu-item-object-team_group menu-item-3771">
                <a href="http://apicona-advanced.thememount.com/blog/team-group/surgery/">Surgery</a>
            </li>
            <li id="menu-item-3772" class="menu-item menu-item-type-taxonomy menu-item-object-team_group menu-item-3772">
                <a href="http://apicona-advanced.thememount.com/blog/team-group/psychological/">Psychological</a>
            </li>
            <li id="menu-item-3773" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3773">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/cardiology/">Cardiology</a>
            </li>
            <li id="menu-item-3774" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3774">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/orthopedics/">Orthopedics</a>
            </li>
            <li id="menu-item-3775" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3775">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/pediatric/">Pediatric</a>
            </li>
            <li id="menu-item-3776" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3776">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/dermatology/">Dermatology</a>
            </li>
            <li id="menu-item-3777" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3777">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/anesthesiology/">Anesthesiology</a>
            </li>
            <li id="menu-item-4018" class="menu-item menu-item-type-taxonomy menu-item-object-team_group menu-item-4018">
                <a href="http://apicona-advanced.thememount.com/blog/team-group/cardiac/">Cardiac</a>
            </li>
            <li id="menu-item-4019" class="menu-item menu-item-type-taxonomy menu-item-object-team_group menu-item-4019">
                <a href="http://apicona-advanced.thememount.com/blog/team-group/health-care/">Health Care</a>
            </li>
            <li id="menu-item-3778" class="menu-item menu-item-type-taxonomy menu-item-object-portfolio_category menu-item-3778">
                <a href="http://apicona-advanced.thememount.com/blog/portfolio-category/oncology/">Oncology</a>
            </li>
        </ul>
    </div>
</aside>